/* text */ 

h1 {
  color: #39AEA9;
  font-weight: 900;
  font-size: 2rem;
  text-transform: uppercase;
  margin: 0;
  margin-top: 0;
}

h3 {
  font-size: 0.9rem;
  margin: 0;
  color: #557B83;
  font-weight: 400;
}

p {
  font-weight: 600;
  font-size: 0.8rem;
  color: #557B83;
  margin-top: 20px;
  text-transform: uppercase;
  margin-bottom: 0;
}

.top-text {
  font-size: 10px;
  margin-top: 0.5rem;
  color: #E5EFC1;
}

/* intro */

.intro {
  background-color: #557B83;
  background-image: url(../images/stones.jpg);
  background-size: cover;
  background-position: center;
  padding: 0 0.5em 2em;
}

/* main */

.main-content {
  padding: 2em 1em;
  background-color: #A2D5AB;
  background-size: cover;
  background-position: center;
  padding: 0 0.5em 2em;
}

.intro>*,
.main-content>* {
  max-width: 400px;
  margin-left: auto;
  margin-right: auto;
}

.container {
  max-width: 400px;
  margin: 0 auto;
}

.container-intro {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  min-height: 50vh;
}

/* buttons */

.btn-collector {
  width: 80%;
  max-width: 200px;
  margin: 0 auto;
  margin-top: 2rem;
}

.btn {
  width: 100%;
  border-radius: 5px;
}

.btn {
  display: inline-block;
  padding: 1em 1.5em;
  font-size: 0.6rem;
  text-transform: uppercase;
  font-weight: 700;
  letter-spacing: 1px;
  border: 0;
  cursor: pointer;
}

.btn-primary {
  background: #39AEA9;
  color: #E5EFC1;
  font-family: 'Karla', sans-serif;
  transform: scale(1);
  transition: transform 250ms;
}

.btn-primary:hover,
.btn-primary:focus {
  transform: scale(1.1);
}

/* media queries */

@media (min-width: 500px) {

  .main-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  .intro,
  .main-content {
    width: 50%;
    min-height: 100vh;
  }

  .container-intro {
    height: 100%;
  }
}