body {
  margin: 0;
  padding: 0;
  background-image: url(../images/timer.gif);
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
}

nav {
  display: flex;
  align-items: center;
  
}

nav a {
  text-decoration: none;
}

footer {
  background-color: #39AEA9;
  width: 200px;
  border-radius: 10px;
  height: 25px;
}

footer p {
  color: #F7E2E2;
  font-size: 0.7rem;
  text-transform: lowercase;
  font-weight: 700;
  margin-top: 7px;
  text-decoration: none;
}

img {
  max-width: 30px;
}

/* play */

.play-container {
  max-width: 500px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 10%;
}

.play-background {
  position: relative;
  margin-top: 0;
  margin-right: 10px;
  margin-left: 10px;
  background: #A2D5AB;
  padding: 30px 30px;
  border-radius: 50%;
  cursor: pointer;
  transition-duration: 0.4s;
  -webkit-transition-duration: 0.4s;
}

.play-background:hover {
  transition-duration: 0.1s;
  background-color: #39AEA9;
}

.play-background:after {
  content: "";
  display: block;
  position: absolute;
  border-radius: 4em;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  opacity: 0;
  transition: all 0.5s;
  box-shadow: 0 0 10px 40px white;
}

.play-background:active:after {
  box-shadow: 0 0 0 0 white;
  position: absolute;
  border-radius: 4em;
  left: 0;
  top: 0;
  opacity: 1;
  transition: 0s;
}

.play-background:active {
  top: 1px;
}


/* time cointainer */

.time-display {
  font-size: 5rem;
  color: white;
  margin: 30px 0 50px 0;
  font-weight: bold;
}

.timer {
  display: flex;
  flex-direction: row;
  margin-top: 50px;
}

/* media-queries*/

@media (min-width: 500px) and (min-height: 100%) {
  .time-display {
    font-size: 7rem;
  }

  .play-background {
    padding: 30px 30px;
  }

  img {
    max-width: 100%;
  }
}
